{
  "devDependencies": {
    "electron": "^1.4.3",
    "electron-builder": "^7.14.1",
    "electron-packager": "^8.1.0",
    "express": "^4.14.0",
    "webpack": "^1.13.3"
  },
  "scripts": {
    "start": "node run.js",
    "start-android": "phonegap run android",
    "build-android-release": "phonegap platform add android; phonegap build --release",
    "build-android": "phonegap platform add android; phonegap build",
    "build": "phonegap build"
  }
}
